# -------------------------
# Git
# -------------------------
.git

# -------------------------
# IDE
# -------------------------
.idea
.vscode

# -------------------------
# macOS system files
# -------------------------
.DS_Store

# -------------------------
# Xcode user-specific files
# -------------------------
xcuserdata/
manchor.xcodeproj/project.xcworkspace/xcuserdata/
manchor.xcodeproj/xcuserdata/

# Xcode temporary files
*.xcuserstate
*.xcscmblueprint

# -------------------------
# Obj-C / Swift specific
# -------------------------
*.hmap

# -------------------------
# App packaging
# -------------------------
*.ipa
*.dSYM
*.dSYM.zip

# -------------------------
# Playgrounds
# -------------------------
timeline.xctimeline
playground.xcworkspace

# -------------------------
# Derived data
# -------------------------
DerivedData/

# -------------------------
# Build products
# -------------------------
build/
Build/

# -------------------------
# Swift Package Manager
# -------------------------
.swiftpm/
.build/
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# .swiftpm

# -------------------------
# CocoaPods (optional)
# -------------------------
Pods/
Podfile.lock
# *.xcworkspace

# -------------------------
# Carthage (optional)
# -------------------------
# Carthage/Checkouts
Carthage/Build/

# -------------------------
# fastlane (optional)
# -------------------------
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/screenshots/**/*.png
fastlane/test_output

# -------------------------
# App-specific
# -------------------------
manchor/Base.lproj/*.xib~*
